html {
min-height:100%;	
}


#header
{
	background-color: 791E94;
	height: 3rem;
	
	font-family: coolvetica;
	font-size: 32;
	font-style: FFFFF2;

}


#footer
{
	position: auto;
	background-color: #759EB8;
	font-family: coolvetica;
	font-size: 18;
	color: FFFFF2;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top:5px;
	padding-bottom: 5px;
	#vertical-align: bottom;
	#text-align: center;
	height: 8%;
	width: 99%;
	bottom: 0px;
	clear: both;
}

#footer a
{
	color: FFFFF2;
}

.normaltext
{
	font-family: coolvetica;
	font-size: 22;
	color: FFFFF2;
	
	padding: 5px;
	background: 3C7A89;
}

.img
{
	height:170px;
	width:100px;
	padding-bottom: 0%;
	position: absolute;
	vertical-align: bottom
}

.imgTwo
{
	height:250px;
	width:250px;
	padding-bottom: 2%;
	margin-bottom: 20%;
	position: relative;
	float:center;
}

.body 
{
	background-color: #C5D5EA;
	color: FFFFF2;
	min-height: 100%;
}

#bodyBacking
{
	width: auto;
	height: auto;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 6em;
	padding-top: 2em;
	background-color: 759EB8;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	box-shadow: 10px 10px #2E4052;
	overflow: auto;
}	

/* Menu bar styling */

#menubar {
	position: relative
	overflow: hidden;
	background-color: #759EB8;
	font-family: coolvetica;
	font-size: 32;
	color: FFFFF2;
	padding: 25px;
}

.menubarDrop {
	float: right;
	text-align: center-left;
	margin-left: auto;
	margin-right: 0;
	position: relative;
	display: inline-block;
	background-color: #2E4052;
	font-family: coolvetica;
}

.menubarContent {
	display: none;
	position: absolute;
	background-color: #759EB8;
	min-width: 80px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 99;
	font-size: 18px;
}

.menubarContent a {
	color: FFFFF2;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropbtn {
	background-color: #759EB8;
	color: white;
	padding: 2px;
	font-size: 24px;
	border: none;
	font-family: coolvetica;
	float: right;
  	margin-left: auto;
	margin-right: 0;
}
.menubarContent a:hover {background-color: #2E4052;}

.menubarDrop:hover .menubarContent {display: block;}

.MenubarDrop:hover .dropbtn {background-color: rgb(46,64,82);}


/* Return to top button */

#scrllBtn {
	float:right;
	display: solid;
	position: auto;
	bottom: 20px; 
	right: 30px; 
	z-index: 99; 
	border: none; 
	outline: none;
	background-color: #759EB8;
	font-family: coolvetica;	
	color: #FFFFF2;
	vertical-align: center;
	cursor: pointer; 
	padding: 10px;
	border-radius: 10px; 
	font-size: 18px;
}

#scrllBtn:hover {
  background-color: #2E4052;
}


/* Container divs */


.gridContainer
{
	display: flex;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100%;
	grid-gap: 50px;
	background-color: 2E4052;
	padding: 5px;
	font-family: coolvetica;
	font-size: 24px;
	width: 100%;
	height:80%;
	
}

.gridContainerSS
{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	grid-gap: 25px;
	background-color: 2E4052;
	padding: 5px;
	font-family: coolvetica;
	font-size: 24px;
	width: 100%;
	height:80%;
	overflow: display;
	
}

.gridContainerMdlVwr
{
	display: grid;
	grid-template-columns: 100%%;
	grid-template-rows: 90% 90%;
	grid-gap: 5px;
	background-color: 2E4052;
	padding: 5px;
	font-family: coolvetica;
	font-size: 24px;
	width: 100%;
	height:80%;
	
}

.gridContainerskl
{
	display: grid;
	grid-template-columns: 10% 85%;
	grid-template-rows: 90% 90%;
	grid-gap: 50px;
	background-color: 2E4052;
	padding: 5px;
	font-family: coolvetica;
	font-size: 24px;
	width: 100%;
	height:80%;
	
}

.boxMdl
{
	height: 200px;
	width: 300px;	
}

.boxOne
{
	height: 100%;
}

.boxTwo
{
	
}

.boxThree
{
	
}

.gridContainer > div
{
	height: 75%;
	width: 85%;
	background-color: rgb(46,64,82);
	text-align: center;
	padding: 2%;
	font-size: 20px;
	box-shadow: 10px 10px rgb(197,213,234);
	float: left;
	text-align: left;
	
}

.gridContainerskl > div
{
	height: 75%;
	width: 85%;
	background-color: rgb(46,64,82);
	text-align: center;
	padding: 2%;
	font-size: 20px;
	box-shadow: 10px 10px rgb(197,213,234);
	float: left;
	text-align: left;
	
}

.gridContainerMdlVwr > div
{
	height: 100%;
	width: 85%;
	#background-color: rgb(46,64,82);
	text-align: center;
	padding: 2%;
	font-size: 20px;
	#box-shadow: 10px 10px rgb(197,213,234);
	float: left;
	text-align: left;
	
}

.gridContainerSS > div
{
	height: 100%;
	width: 100%;
	
	text-align: center;
	padding: 0%;
	font-size: 20px;
	float: center;
	text-align: left;
	border-radius: 20px;
}

.gridContainer > img
{
	vertical-align: bottom;
}

/* Model Viewer */

.mdlvwr
{
	padding 50px;
	float: right;
	height: 240px;
	width: 240px;
	position: relative;
}

/* Slideshow */
.slideshow{
	position: auto;
	float: center;
	border-style: double;
	border-color: rgb(46,64,82);
	border-radius: 20px;
	vertical-align: top;

/* Animation */

