#header
{
	background-color: 791E94;
	height: 3rem;
	
	font-family: coolvetica;
	font-size: 32;
	font-style: FFFFF2;

}

#footer
{
	position: relative;
	background-color: #759EB8;
	font-family: coolvetica;
	font-size: 18;
	color: FFFFF2;
	padding-left: 0px;
	padding-top:5px;
	padding-bottom: 5px;
	vertical-align: bottom;
	#text-align: center;
	height: 8%;
	width: 100%;
	bottom: 0;
}

#footer a
{
	color: FFFFF2;
}

.normaltext
{
	font-family: coolvetica;
	font-size: 22;
	color: FFFFF2;
	
	padding: 5px;
	background: 3C7A89;
}

.img
{
	height:170px;
	width:100px;
	padding-bottom: 0%;
	position: absolute;
	vertical-align: bottom
}

.imgTwo
{
	height:250px;
	width:250px;
	padding-bottom: 2%;
	margin-bottom: 20%;
	position: relative;
	float:center;
}

.body 
{
	background-color: #C5D5EA;
	color: FFFFF2;
}

#bodyBacking
{
	width: auto;
	height: auto;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 4em;
	padding-top: 4em;
	background-color: 759EB8;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	box-shadow: 10px 10px #2E4052;
}	

.flexContainer
{
	display: flex;
	width: 100%;
	grid-gap: 20px;
	background-color: 2E4052;
	padding: 10px;
	font-family: coolvetica;
	font-size: 16px;
	flex-flow: row wrap;
	align-content: flex-start;
	justify-content: space-around;
}
	
	.flexContainer > div
{
	width: 20%;
	height: 50%;
	background-color: rgb(46,64,82);
	text-align: center;
	padding: 2%;
	font-size: 20px;
	box-shadow: 10px 10px rgb(197,213,234);
}
.gridContainer
{
	display: grid;
	grid-template-columns: 25% 25% 48%;
	grid-gap: 10px;
	background-color: 2E4052;
	padding: 10px;
	font-family: coolvetica;
	font-size: 16px;
	
}

.gridContainerTwo
{
	display: grid;
	grid-template-columns: 25% 25% 48%;
	grid-gap: 10px;
	background-color: 2E4052;
	padding: 10px;
	
}

.boxOne
{
	margin-bottom: 28%;	
}

.boxTwo
{
	margin-bottom: 28%;	
}

.boxThree
{
	margin-left:50px;
	margin-bottom: 5%;
}

.boxThreeP2
{
	margin-left:100px;
}

.boxOne2
{
	margin-bottom: 0%;	
}

.boxTwo2
{
	margin-bottom: 0%;	
}

.boxThree2
{
	margin-left:50px;
	margin-bottom: 0%;
}

.gridContainer > div
{
	height: 75%;
	width: 85%;
	background-color: rgb(46,64,82);
	text-align: center;
	padding: 2%;
	font-size: 20px;
	box-shadow: 10px 10px rgb(197,213,234);
	float: left;
	text-align: left;
	
}

.gridContainer > img
{
	vertical-align: bottom;
}
.gridContainerTwo > div
{
	height: 75%;
	width: 85%;
	background-color: rgb(46,64,82);
	text-align: center;
	padding: 2%;
	font-size: 30px;
	box-shadow: 10px 10px rgb(197,213,234);
}


#menubar {
	position: relative
	overflow: hidden;
	background-color: #759EB8;
	font-family: coolvetica;
	font-size: 32;
	color: FFFFF2;
	padding: 25px;
}

.menubarDrop {
	float: right;
	text-align: center-left;
	margin-left: auto;
	margin-right: 0;
	position: relative;
	display: inline-block;
	background-color: #2E4052;
	font-family: coolvetica;
}

.menubarContent {
	display: none;
	position: relative;
	background-color: #759EB8;
	min-width: 80px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 99;
	font-size: 18px;
}

.menubarContent a {
	color: FFFFF2;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropbtn {
	background-color: #759EB8;
	color: white;
	padding: 2px;
	font-size: 24px;
	border: none;
	font-family: coolvetica;
	float: right;
  	margin-left: auto;
	margin-right: 0;
}
.menubarContent a:hover {
	background-color: #2E4052;
	transition: all 0.5s ease-in;}

.menubarDrop:hover .menubarContent {display: block;}

.MenubarDrop:hover .dropbtn {background-color: rgb(46,64,82);}

#scrllBtn {
	float:right;
	display: solid;
	position: absolute;
	bottom: 20px; 
	right: 30px; 
	z-index: 99; 
	border: none; 
	outline: none;
	background-color: #759EB8;
	font-family: coolvetica;	
	color: #FFFFF2;
	vertical-align: center;
	cursor: pointer; 
	padding: 10px;
	border-radius: 10px; 
	font-size: 18px;
}

#scrllBtn:hover {
  background-color: #2E4052;
}


	