#header
{
	background-color: 791E94;
	height: 3rem;
	
	#border-bottom-width: 5px;
	#border-bottom-style: solid;
	#border-bottom-color: C64191;
	
	font-family: coolvetica;
	font-size: 32;
	font-style: FFFFF2;

}

.normaltext
{
	font-family: coolvetica;
	font-size: 22;
	color: FFFFF2;
	
	padding: 5px;
	background: 3C7A89;
}

.img
{
	border-width: 2px;	
	border-style: solid;
	border-color: gray;
}

body 
{
	background-color: 3C7A89;
	color: FFFFF2;
}

/* Style the navbar */
#menubar {
	overflow: hidden;
	background-color: 41D3BD;
  
	font-family: coolvetica;
	font-size: 32;
	color: FFFFF2;
}

/* Navbar links */
#menubar a {
	float: left;
	display: block;
	color: FFFFF2;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

#mbBtn {
	height: 48px;
	width: 96;
	
	
}
/* Page content */
.content {
	padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 60px;
}