#header
{
	background-color: 791E94;
	height: 3rem;
	
	#border-bottom-width: 5px;
	#border-bottom-style: solid;
	#border-bottom-color: C64191;
	
	font-family: coolvetica;
	font-size: 32;
	font-style: FFFFF2;

}

.normaltext
{
	font-family: coolvetica;
	font-size: 22;
	color: FFFFF2;
	
	padding: 5px;
	background: 3C7A89;
}

.img
{
	height:170px;
	width:100px;
	padding-bottom: 0%;
	position: absolute;
}

.imgTwo
{
	height:250px;
	width:250px;
	padding-bottom: 2%;
	margin-bottom: 20%;
	position: relative;
	float:center;
}

body 
{
	background-color: C5D5EA;
	color: FFFFF2;
}

#bodyBacking
{
	width: auto;
	height: auto;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 4em;
	padding-top: 4em;
	background-color: 759EB8;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
}	

.gridContainer
{
	display: grid;
	grid-template-columns: 25% 25% 48%;
	grid-gap: 10px;
	background-color: 2E4052;
	padding: 10px;
	font-family: coolvetica;
	font-size: 16px;
}

.gridContainerTwo
{
	display: grid;
	grid-template-columns: 25% 25% 48%;
	grid-gap: 10px;
	background-color: 2E4052;
	padding: 10px;
	
}

.boxOne
{
	margin-bottom: 28%;	
}

.boxTwo
{
	margin-bottom: 28%;	
}

.boxThree
{
	margin-left:50px;
	margin-bottom: 5%;
}

.boxThreeP2
{
	margin-left:100px;
}

.gridContainer > div
{
	height: 75%;
	width: 85%;
	background-color: rgb(46,64,82);
	text-align: center;
	padding: 2%;
	font-size: 20px;
	box-shadow: 10px 10px rgb(197,213,234);
	float: left;
	text-align: left;
	
}

.gridContainer > img
{
	vertical-align: bottom;
}
.gridContainerTwo > div
{
	height: 75%;
	width: 85%;
	background-color: rgb(46,64,82);
	text-align: center;
	padding: 2%;
	font-size: 30px;
	box-shadow: 10px 10px rgb(197,213,234);
}


#menubar {
	overflow: hidden;
	background-color: #759EB8;
	font-family: coolvetica;
	font-size: 32;
	color: FFFFF2;
	padding: 25px;
}

.menubarDrop {
	float: right;
	text-align: center-left;
	margin-left: 42em;
	position: absolute;
	display: inline-block;
	background-color: #2E4052;
	font-family: coolvetica;
}

.menubarContent {
  display: none;
  position: relative;
  background-color: #759EB8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menubarContent a {
  color: FFFFF2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn {
  background-color: #759EB8;
  color: white;
  padding: 2px;
  font-size: 24px;
  border: none;
  font-family: coolvetica;

}
.menubarContent a:hover {background-color: #2E4052;}

.menubarDrop:hover .menubarContent {display: block;}

.MenubarDrop:hover .dropbtn {background-color: rgb(46,64,82);}


	